.reveal img.noborder {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal span.underline {
  text-decoration: underline;
}

.reveal h2{
  margin-bottom:35px;
}

.reveal h2.narrow{
  font-size: 1.7em;
}

.reveal li{
  margin-bottom:40px;
}

ul.nobullet li{
   list-style-type : none;
}

.reveal .twocolumn-wrap li{
 width: 100%;
}

.reveal .twocolumn-left_col{
 float: left;
 width: 50%;
}

.reveal .twocolumn-right_col{
 float: right;
 width: 50%;
}

.slides footer{
  position:absolute;
  bottom: 2%;
  right: 0%;
  font-size: 0.3em;
}

.reveal div.social{
  display: flex;
  align-items: center;
  justify-content:center;
}

.reveal section.fullheight{
  height: 100%;
}
