.reveal img.noborder {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal span.underline {
  text-decoration: underline;
}

.reveal h2{
  margin-bottom:35px;
}

.reveal h2.narrow{
  font-size: 1.7em;
}

.reveal li{
  margin-bottom:40px;
}

ul.nobullet li{
   list-style-type : none;
}

.reveal .twocolumn-wrap li{
 width: 100%;
}

.reveal .twocolumn-left_col{
 float: left;
 width: 50%;
}

.reveal .twocolumn-right_col{
 float: right;
 width: 50%;
}

.slides footer{
  position:absolute;
  bottom: 2%;
  right: 0%;
  font-size: 0.3em;
}

.reveal div.social{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}



/* .reveal .strikeout {
    position: relative;
}

.reveal .strikeout::after {
    border-bottom: 6px solid red;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.reveal .rcornerbg {
  margin-left: 20px;
  border-radius: 10px;
  background: #AAD067;
  padding: 0 20px 0 20px;
}


.reveal .citation{
  display: flex;
  font-size: x-small;
}

.reveal li.listsideimg{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reveal img.sideimg {
  max-width: 25%;
  margin-left: 5%;
}

.reveal section.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reveal pre{
  box-shadow:none;
}*/
